.container-sidebar {
    margin-bottom: 20px;
}

.content-sidebar {
    padding: 10px;
}

.container-botao {
    margin: 10px;
}

.container-botao .botao {
    width: 100%;
}

@media screen and (max-width: 800px) {
    .content-sidebar {
        display: flex;
    }

    .container-botao {
        width: 100%;
    }
    
  }

  @media screen and (max-width: 560px) {
    .content-sidebar {
        display: block;
    }

    .container-botao {
        width: auto;
    }
    
  }